:root {
    --font-sans-serif: Poppins, sans-serif;
    --font-serif: Abyssinica SIL, serif;
    --black: #000;
    --white: #ffffff;
    --yellow: #ffc524;
    --orange: #F0935d;
    --blue: #9ae4e5;
    --green: #86d5a0;
    --gray: #c7c6c6;
}

html {
    box-sizing: border-box;
}
  *, 
  *:before, 
  *:after {
    box-sizing: inherit;
}

.button {
    display: inline-block;
    border-radius: 2rem;
    padding: 0.5rem 1.5rem;
    text-decoration: none;
    color: white;
    background: black;
    margin: 20px;
}

/**typography */
body {
    font-family: var(--font-sans-serif);
    color: var(--black);
    margin: 5rem 45rem 0rem 45rem;
}

a {
    color: var(--black);
    text-decoration: none;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.3rem;
}

h3 {
    font-size: 2rem;
}

p {
    font-size: 20px;
}


.typo-default {
    font-family: var(--font-serif);
    font-size: 25px;
}

/** images */
img {
    display: block;
}

.component__img,
.component-img {
    border: 3px solid var(--yellow);
}


/** nav bar */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.nav-bar-list {
    display: flex;
    list-style: none;
    flex-direction: row;
    font-size: medium;
    margin: 0;
  } 
  
  .nav-item {
    margin-left: 40px;
    font-size: 25px;
  }

  .nav-button {
    display: inline-block;
    border-radius: 2rem;
    padding: 1rem 2.5rem;
    text-decoration: none;
    color: white;
    background: black;
    margin-bottom: 40px;
    margin-left: 40px;
    font-size: 25px;
    
  }

.nav-logo img{
    max-width: 15rem;
}

/** cover-molecules */
.cover-title {
    margin-bottom: 5rem;
    max-width: 45rem;
    position: relative;
    top: 17.5rem;
}

.cover-arrow {
    font-size: 30px;
    position: relative;
    top: 17.5rem;
}

.cover__section-main {
    background: linear-gradient(#ffc524,#86d5a0);
}

.cover__section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    padding: 10rem 0rem 10rem 0rem;

}

.cover__info {
    max-width: 20rem;
    margin-right: 0px;
    margin-top: 13rem;
}

.cover__img {
    max-height: 40rem;
    margin-left: 0px;
}


/** body-atoms*/
.card {
    border-radius: 1rem;
    padding: 1rem;
    text-align: left;
    height: 390px;
    width: 300px;
    background: var(--yellow);
    margin: 1rem 0;
}

.card-img {
    max-height: 200px;
    margin-left: 25%;
    margin-top: 25%;
}

.card__two {
    border-radius: 1rem;
    padding: 1rem;
    text-align: left;
    height: 390px;
    width: 300px;
    background: var(--blue);
    margin: 1rem 0;
}

.card-img__two {
    max-height: 200px;
    margin-left: 10px;
    margin-top: 25%;
}

.card__three {
    border-radius: 1rem;
    padding: 1rem;
    text-align: left;
    height: 600px;
    width: 600px;
    background: var(--orange);
    margin: 1rem 0;
}

.card-img__three {
    max-height: 270px;
    margin-left: 30%;
    margin-top: 10%;
}

/** card three percentages */

.percentage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: left;
    
}

.percentage-number {
    font-size: 45px;
    font-family: var(--font-sans-serif);
    margin: 0px;
    padding-top: 50px;
}

.percentage-statement {
    font-size: 18px;
    font-family: var(--font-serif);
    margin: 0px;
    padding: 0px;
}

/** body-molecule */
.body-content {
    display: flex;
    justify-content: center;
}

.card__three {
    margin: 10px;
}

.body-tagline {
    font-size: 1rem;
}

.body-title {
    max-width: 40rem;
}

.body-survey {
    margin-top: 30px;
    font-size: 12px;
}

/** as featured in */
.featured-title {
    font-family: var(--font-sans-serif);
    font-size: 1.5rem;
    text-align: center;
}

.featured {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    
}

.featured-logo {
    margin: 10px;
}

.featured-img img{
    max-width: 22rem;
}
   

/** read-more */
.read-more__title {
    max-width: 25rem;
}

.read-more__para {
    font-family: var(--font-serif);
    font-size: 14px;
}

.button {
    margin-left: 0px;
    font-size: 11px;
}

/** explore-molecule */
.explore-content {
    display: flex;
    justify-content: center;
}

.card__four {
    border-radius: 1rem;
    padding: 1rem;
    text-align: left;
    height: 600px;
    width: 470px;
    background: var(--blue);
    padding: 70px 0px 0px 50px;
}

.card__four-img {
    max-height: 25%;
}

.read-more__para {
    max-width: 18rem;
}

.card__five {
    margin-left: 10px;
    border-radius: 1rem;
    padding: 1rem;
    text-align: left;
    height: 600px;
    width: 470px;
    background: rgb(154, 228, 229, 0.5);
    padding: 70px 0px 0px 50px;
}

/** success-section */

.success {
    display: flex;
    justify-content: center;
}

.success__img {
    max-height: 18rem; 
}

.success__info-img {
    margin-right: px;
}
.success__info {
    margin-top: 30px;
    margin-left: 8rem;
}

/** success-carousel */
.list {

    display: flex;
    max-height: 100rem;
    text-align: center;
  
    list-style: none;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  
  .item {
    flex-shrink: 0;
    width: 80%;
    margin: 0px;
    padding: 100px 50px 50px 50px;
  
    scroll-snap-align: center;
  }
  
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
  }

  .list-wrapper {
    position: relative;
  }
  
  .quote-author {
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 3rem;
    font-size: 12px;
  }


/** discover-molecule */
.read-more__header {
    font-size: 2.3rem;
    max-width: 30rem;
}
  
.read-more__info {
    font-family: var(--font-serif);
    max-width: 35rem;
    font-size: 18px;
}

.discover__main {
    background: var(--orange);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    padding: 5rem 0rem 5rem 0rem;
}

.discover__section {
    align-content: center;
}

.discover__img {
    max-height: 45rem;
}

/** subscription-molecule */
.sub-components {
    margin-top: 40px;
    border-top: 1px solid var(--gray);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.sub-subscribe {
    margin-top: 20px;
}

.sub {
    margin-top: 33px;
}


/** subscription-atoms */
.subscribe {
    max-width: 12rem;
}

.subscribe__email {
    display: flex;
    align-content: center;
    border-bottom: 1px solid var(--gray);
    margin-top: 5px;
    max-width: 14rem;
    margin-bottom: 20px;
}

.subscribe__name {
    font-size: 11px;
    margin-right: 11.5rem;
    margin-bottom: 5px;
}

.subscribe__arrow {
    color: var(--gray);
    font-size: 12px;
    margin-bottom: 5px;
}

/**links */
.links {
    display: flex;
}

.links__list {
   padding-right: 60px;
}

.links__title {
    font-size: 11px;
}

.links__section {
    margin-left: 0px;
    padding-left: 0px;
    font-size: 11px;
}

.links-item {
    list-style: none;  
}



/** footer */
.footer {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-logo img{
    max-width: 2.5rem;
}

.footer-links {
    margin-left: 25rem;
}


.footer-list {
    display: flex;
    list-style: none;
}

.footer-item {
    justify-content: flex-end;
    font-size: 10px;
    color: var(--gray);
    padding-left: 20px;

}