<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatinle" content="ie=edge">
        <title>Components | Positive Intelligence</title>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../css/main.css">
    </head>

    <body>
        <h1>Web Components</h1>

        <h2> Typography Defaults</h2>


        <article class="components">
            <h3 class="component__nav-bar">Nav Bar</h3>
            <div class="component__img">
                <img 
                srcset="img/main-nav.png 2x"
                src="img/main-nav.png"
                alt="Main Navigation Bar">
            </div>

            <div class="component__code">
                <div class="container">
                    <div class="nav-logo">
                        <a href="#!"> 
                            <img src="img/nav-logo-image.png"
                            alt="Positive Intelligence Logo">
                        </a>
                    </div> 

                    <ul class="nav-bar-list">
                        <li><a href="#!" class="nav-item"> Program</a></li>
                        <li><a href="#!" class="nav-item"> For Organizations</a></li>
                        <li><a href="#!" class="nav-item"> Science</a></li>
                        <li><a href="#!" class="nav-item"> Saboteurs</a></li>
                        <li><a href="#!" class="nav-item"> About</a></li>
                        <li><a href="#!" class="nav-button"> Get PQ</a></li>
                    </ul>
                </div>
            </div>
        </article>
        
        <article class="component">
            <h3 class="component__body-main">body</h3>
            <div class="component__img"> 
                <img 
                srcset="img/body-section-small.png 2x"
                src="img/body-section-small.png"
                alt="Body Section">
            </div> 
           
            <div class="component__code">
                <div class="card">
                    <p class="card__title">Boost Performance</p>
                    <img class="card-img" src="img/body-image-2.png"
                        alt="Girl on a Rocket">
                </div>
            </div>

            <div class="component__img"> 
                <img 
                srcset="img/body-section-small-2.png 2x"
                src="img/body-section-small-2.png"
                alt="Body Section 2">
            </div> 
           
            <div class="component__code">
                <div class="card__two">
                    <p class="card__title">Strengthen <br> Relationships</p>
                    <img class="card-img__two" src="img/body-image-3.png"
                        alt="People Holding a Raindow">
                </div>
            </div>

            <h3 class="component__body-main">body</h3>
            <div class="component__img"> 
                <img 
                srcset="img/body-section-large.png 2x"
                src="img/body-section-large.png"
                alt="Body Section">
            </div> 
           
            <div class="component__code">
                <div class="card__three">
                    <p class="card__title">Improve Wellbeing</p>
                    <img class="card-img__three" src="img/body-image.png"
                        alt="Person Sitting">

                    <div class="percentage">
                        <div class="percentage-info">
                            <p class="percentage-number">85%</p>
                            <p class="percentage-statement">Increase Happiness</p>
                        </div>

                        <div class="percentage-info">
                            <p class="percentage-number">91%</p>
                            <p class="percentage-statement">Manage Stress Better</p>
                        </div>

                        <div class="percentage-info">
                            <p class="percentage-number">83%</p>
                            <p class="percentage-statement">Improve Self Confidence</p>
                        </div>
                    </div>
                </div>
            </div>
        </article>

        <article class="component">
            <h3 class="component__featured">featured</h3>
            <div class="component__img"> 
                <img 
                srcset="img/featured.png 2x"
                src="img/featured.png"
                alt="As Featured In">
            </div> 
           
            <div class="component__code">
                <h4 class="featured-title">As Featured In</h4>
                <div class="featured">
                    <div class="featured-logo">
                        <div class="featured-img">
                            <img class="featured-img" src="img/feature-image-2.png"
                                alt="The New York Times Logo">
                        </div>
                    </div>

                    <div class="featured-logo">
                        <div class="featured-img">
                            <img class="featured-img" src="img/feature-image.png"
                                alt="Fast Company Logo">
                        </div>
                    </div>

                    <div class="featured-logo">
                        <div class="featured-img">
                            <img src="img/feature-image-3.png" 
                                 alt="The Wall Street Journal Logo">
                        </div>
                    </div>
                </div>
            </div>
        </article>

        
        <article class="component">
            <h3 class="component__cover-page">cover-page</h3>
            <div class="component__img"> 
                <img 
                srcset="img/cover-paragraph.png 2x"
                src="img/cover-paragraph.png"
                alt="Cover Paragraph 1">
            </div> 
           
            <div class="component__code">
                <p>Your mind is constantly sabotaging your potential for both performance and happiness. All your negative emotions, including stress, are the result of self-sabotage.</p>
            </div>

            <div class="component__img"> 
                <img 
                srcset="img/cover-paragraph-2.png 2x"
                src="img/cover-paragraph-2.png"
                alt="Cover Paragraph 2">
            </div> 

            <div class="component__code">
                <p>Our breakthrough, research-based tools strengthen the part of your brain that serves you and quiet the part that sabotages you. You handle life's challenges with a more positive mindset, and less stress.</p>
                <p>We call this mental fitness.</p>
            </div>
        </article>

        <article class="component">
            <h3 class="component__headings">headings </h3>
            <div class="component__img"> 
                <img 
                srcset="img/cover-main.png 2x"
                scr="img/cover-main.png"
                alt="Introduction">

                <img 
                srcset="img/body-main.png 2x"
                src="img/body-main.png"
                alt="Body Main Organism">

                <img 
                srcset="img/success-header.png 2x"
                src="img/success-header.png"
                alt="Mental Fitness Header">

                <img 
                srcset="img/success-quote.png 2x"
                src="img/success-quote.png"
                alt="Success Quote">

                <img 
                srcset="img/discover-header.png 2x"
                src="img/discover-header.png"
                alt="Discover Header">

                <img 
                srcset="img/explore-header.png 2x"
                src="img/explore-header.png"
                alt="Explore Header">

                <img 
                srcset="img/business-header.png 2x"
                src="img/business-header.png"
                alt="For Business Header">
            </div> 

            <div class="component__code">
                <h1>Your mind is your best friend. But it can also be your worst enemy.</h1>
                <h2>Experience immediate and sustained improvements in both your wellbeing and performance.</h2>
                <h3>Mental Fitness Success Story</h3>
                <h3>"What we wanted was a program that was going to stick, and Positive Intelligence was the way to go for us. It was very much aligned with our core values."</h3>
                <h3>Discover What's Holding You Back</h3>
                <h3>Explore the Program</h3>
                <h3>For Business</h3>
            </div>

        </article>
    </body>
</html>
